[submodule "books/amundsen-building-hypermedia-apis"]
	path = books/amundsen-building-hypermedia-apis
	url = git://github.com/mamund/Building-Hypermedia-APIs.git
[submodule "books/wake-rutherford-refactoring-in-ruby"]
	path = books/wake-rutherford-refactoring-in-ruby
	url = git://github.com/kevinrutherford/rrwb-code.git
[submodule "books/katz-rails3-in-action"]
	path = books/katz-rails3-in-action
	url = https://github.com/rails3book/ticketee.git
[submodule "books/nutter-using-jruby"]
	path = books/nutter-using-jruby
	url = git://github.com/jruby/using_jruby.git
[submodule "books/meyer-riak-handbook"]
	path = books/meyer-riak-handbook
	url = git://github.com/mattmatt/nosql-handbook-examples.git
[submodule "presentations/lagomeetup-talks"]
	path = presentations/lagomeetup-talks
	url = git://github.com/lagomeetup/talks.git
[submodule "books/dix-service-oriented-design"]
	path = books/dix-service-oriented-design
	url = git://github.com/pauldix/service-oriented-design-with-ruby.git
[submodule "books/losh-learn-vimscript-the-hard-way"]
	path = books/losh-learn-vimscript-the-hard-way
	url = git://github.com/sjl/learnvimscriptthehardway.git
[submodule "books/metz-poodr-golang"]
	path = books/metz-poodr-golang
	url = git://github.com/nathany/go-poodr.git
[submodule "books/metz-poodr"]
	path = books/metz-poodr
	url = https://github.com/skmetz/poodr
[submodule "books/astaxie-build-web-application-with-golang"]
	path = books/astaxie-build-web-application-with-golang
	url = git://github.com/astaxie/build-web-application-with-golang.git
